@{
    ViewData["Title"] = "About us";
}


<h2>About us</h2>
<div>
<p align="left">
    <br>This project aims to become an easy access of relaxation
    <br>content, users can choose from a variety of exercises, music,
    <br>and instructions. Users are required to register an account
    <br>to be able to have the full experience as well as saving their
    <br>preferred set of contents. 
</p>
</div>

<div>
    <p align="left">
        <br>This project aims to become an easy access of relaxation
        <br>content, users can choose from a variety of exercises, music,
        <br>and instructions. Users are required to register an account
        <br>to be able to have the full experience as well as saving their
        <br>preferred set of contents.
    </p>
</div>

<div>
    <p align="left">
        <br>This project aims to become an easy access of relaxation
        <br>content, users can choose from a variety of exercises, music,
        <br>and instructions. Users are required to register an account
        <br>to be able to have the full experience as well as saving their
        <br>preferred set of contents.
    </p>
</div>