@{
    ViewData["Title"] = "About us";
}


<h2>About us</h2>
<div>
    <p align="justify">
        <br>This project aims to become an easy access of relaxation
        <br>content, users can choose from a variety of exercises, music,
        <br>and instructions. Users can choose to register an account if 
        <br>they want to experience more content.
    </p>
</div>

<div>
    <p align="left">
        <br>This project offers exercises that involves reducing stress
        <br>and possibly some health benefits from some of the available 
        <br>exercises. It also features playable music on one of the pages
        <br>mainly revolving around the "relaxation" category type of music.
    </p>
</div>

<div>
    <p align="left">
        <br>The pandemic has taken a toll to a lot of people involving their
        <br>mental and physical health, because of the pandemic more and more
        <br>people have been stagnant in their households lacking movement
        <br>which affects their physical health negatively and the constant
        <br>paranoia of the pandemic can lead to some mental symptoms like 
        <br>lack of sleep, anxiety, and other more mental related problems
        <br>directly caused by the pandemic.
    </p>
</div>