@{
    ViewData["Title"] = "Exercises";
}
<link href="Stylesheet.css" rel="stylesheet" type="text/css" />

<body>

    <div class="first">
        <iframe width="500" height="250" src="https://www.youtube.com/embed/QjP9UGWxTLM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Progressive relaxation yields a variety of benefits, including the development of a feeling of well-being, lowered blood pressure, decreased muscle tension, thereby reducing the body's need for oxygen and reducing fatigue and anxiety.
            Whether you're performing an athletic feat or merely doing your job, the quality of your efforts depends in part on your ability to relax. There are a variety of relaxation techniques to choose from.
            The process for muscle tension recognition begins by assuming a comfortable position of lying down, sitting, or leaning back. You should be in a quiet area, away from distractions. Check for tension in each muscle group in your body: major tension areas include the shoulders, 
            jaw and forehead. Since there is tension in every muscle group, progression in a logical order is required to recognize and alleviate tension.
        </p>

        <iframe width="500" height="250" src="https://www.youtube.com/embed/DNFYe7qzuuM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            These three ancient arts combine rhythmic breathing with a series of postures or flowing movements.
            The physical aspects of these practices offer a mental focus that can help distract you from racing thoughts.
            They can also enhance your flexibility and balance.But if you are not normally active, have health problems, 
            or a painful or disabling condition, these relaxation techniques might be too challenging. 
            Check with your doctor before starting them.
        </p>

        <iframe width="500" height="250" src="https://www.youtube.com/embed/8lC_G1d7Bis" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            The art of practicing yoga helps in controlling an individual’s mind, body and soul. It brings together physical and mental disciplines to achieve a peaceful body and mind;
            it helps manage stress and anxiety and keeps you relaxing. It also helps in increasing flexibility, muscle strength and body tone.
            It improves respiration, energy and vitality. Practicing yoga might seem like just stretching, but it can do much more for your body from the way you feel, look and move.
            Yoga asanas build strength, flexibility and confidence. Regular practice of yoga can help lose weight, relieve stress, improve immunity and maintain a healthier lifestyle.
        </p>
    </div>













</body>