
@{
    ViewData["Title"] = "Home Page";
}
<html>
<body>
    <form action="https://localhost:44391/Identity/Account/Register?returnUrl=%2F">


        <button type="submit" class="btn btn-primary">Log in</button>
   

        <div class="text-center">
            <h4 class="display-4">Welcome to Unwind</h4>
            <br />
            <h1 class="display-4">
                Welcome to our relaxation site, please help yourself or create
                an account if you still don't have one.
            </h1>
            <button type="submit" class="btn btn-primary">Get Started</button>

        </div>
    </form>
</body>


</html>

