@{
    ViewData["Title"] = "Home Page";
}

<html>
<body>
    <div class="text-center">
        <h4 class="display-4">Welcome to Unwind</h4>
        <br />
        <h5 class="display-4">
            Welcome to our relaxation site, please help yourself or create
            an account if you still don't have one.
        </h5>

        <a style="background-color: #0000FF;
        color: white;
        padding: 15px 25px;
        text-decoration: none;"
           id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </div>

    <div class="text-center">
        <br />
        <iframe width="500" height="250" src="https://www.youtube.com/embed/tEmt1Znux58" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</body>


</html>
